.content {
    width: 800px;
    .error{
        width: var(--input-bloc-width);
        border-radius: 10px;
        margin-top: 40px;
        padding: 20px;
        text-align: center;

        background-color: var(--error-bg-color);
        color: var(--text-color);
        font-size: var(--text-size);
        font-weight: var(--font-weight);
    }
}

.visible {
    display: block;
}


.invisible {
    display: none;
}