<div class="todo-line">

  <div class="todo-check">

    <app-button [iconLabel]="todo.completed ? icons.Check : undefined" [active]="buttonActive" (click)="onCheck()"></app-button>
  </div>

  <div class="todo-label">
    <span>{{labelToShow()}}</span>
  </div>

  <div class="todo-actions">
    <app-button [iconLabel]="icons.Edit" [active]="editable()" (click)="onEdit()"></app-button>
    <div class="space"></div>
    <app-button [iconLabel]="icons.Delete" [active]="deletable()" (click)="onDelete()"></app-button>
  </div>

</div>
