:root {
  /* colors */
  --lighted-line-color: #14ffb0;
  --line-color: #6e6e6e;
  --bg-color: #242424;

  --input-bg-color: #3d3d3d;

  --btn-color: #555353;
  --btn-icon-color: #979797;
  --btn-text-hover-color: #ffffff;
  --btn-hover-shadow: 1px 1px 2px 0 var(--lighted-line-color);

  --text-color: #bfbfbf;
  --text-inactive-color: #5d5c5d;

  /* sizes */
  --text-size: 20px;

  /* fonts */
  --font-family: Lato, sans-serif;
  --font-weight: 100;


  /* btn */
  --btn-size: 45px;
  --btn-radius: 30%;
  --btn-icon-pos-x: 8.5px;
  --btn-icon-pos-y: 8.5px;
  --btn-icon-size: 28px;

  /* input */
  --input-bloc-width: 85%;

  /* other */
  --no-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  --no-border: 0px solid transparent;
  --light-border: 1px solid var(--lighted-line-color);
  --border: 1px solid var(--line-color);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color);

  /* text */
  color: var(--text-color);
  font-family:  var(--font-family);
  font-weight: var(--font-weight);

  .inactive-text {
    color: var(--text-inactive-color);
  }

  /* buttons */
  .btn {
    background-color: var(--btn-color);

    .icon {
      color: var(--btn-icon-color);
    }
  }

  .space {
    width: 5px;

  }

}

input {
  width: 80%;
  height: 35px;
  border: none;
  padding: 5px;
  margin: 5px;
  font-size: var(--text-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--input-bg-color);
}

input::placeholder {
  color: var(--text-inactive-color);
  font-family: var(--font-family);
  font-weight: 100;
}

input:focus {
  outline: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
